
@media screen and (min-width: 1440px) {
	 .logo-zone,.menu,.main-zone,.featured-zone,.latests-flex{
  		max-width: 940px !important;
  		margin: auto;
	}
}
@media screen and (min-width: 960px) {
.logo-zone,.menu,.main-zone,.featured-zone,.latests-flex{
	max-width: 900px;
	} 
}
@media screen and (max-width: 599px) {
.main-zone .featured-zone {
		flex-direction: column;
	}
.main-zone .featured-zone > * {
		width: 100%;
	}
.footer-zone .footer-flex {
	flex-direction: column;
}
.footer-zone .footer-flex > * {
	width: 100%;
}
}