*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p{
	margin: 0;
}
body{
	margin: auto;
	font-family: 'Roboto Condensed', sans-serif;
}
img{
	max-width: 100%;
}

/* header */

.menu-zone-top{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu-zone-2{
	display: flex;
    justify-content: space-between;
}
.logo{
	padding-bottom: 15px;
}
.tel{
	display: flex;
}
.animation-shake {
	font-size: 10px;
	animation: shake .5s linear infinite;
}
@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* main */
.circle-phone {
	padding: 2px;
	display: flex;
	width: 25px;
	height: 25px;
	border: 1px solid #000;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
.journeys{
	background: #C4C4C4;
	padding: 50px 0;
}
.text-journeys{
	margin-left: 15px;
}
.home-family{
	display: flex;
	justify-content: space-around;
}
.text-home_2{
	padding: 10px;
	background: #EDEDED;
}
.money-home{
	margin: auto;
	width: 90%;
	text-align: center;
	background: white;
}
.text-home_2 p{
	text-align: center;
}
.text-left-home {
	text-align: left !important;
}
.home-family_item{
	margin-bottom: 4%;
	width: 31%;

}
.text-left-home_2{
	opacity: 0.7;
	text-align: left !important; 
}
.img-family{
	position: relative;
}
.text-link > a{
	color: black
}
.vote-family{
	display: flex;
	position: absolute;
	border-radius: 13px;
	color: white;
    top: 14px;
    left: 14px;
}
.star_1{
	color: yellow
}
/* footer */

.booter{
	margin: 0;
	background: #C4C4C4;
	padding: 30px 40px;
}
.booter-zone{
	margin:auto;
}
.booter-zone a{
	margin: 10px;
	color: black;
}
.booter-zone img {
	margin-right: 17px;
}