*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p{
	margin: 0;
}
body{
	margin: auto;
	font-family: 'Roboto Condensed', sans-serif;
}
img{
	max-width: 100%;
}


/* header */

.menu-zone-top{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu-zone-2{
	display: flex;
    justify-content: space-between;
}
.logo{
	padding-bottom: 15px;
}
.text-menu{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.tel{
	display: flex;
}
.animation-shake {
	font-size: 10px;
	animation: shake .5s linear infinite;
}
@keyframes shake {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.circle-phone {
	padding: 3px;
	display: flex;
	width: 25px;
	height: 25px;
	border: 1px solid #000;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}
.item-menu > a{
	color: black;
	padding: 10px;
}
.menu-zone-top{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu-zone-2{
	display: flex;
    justify-content: space-between;
}
.logo{
	padding-bottom: 15px;
}
.text-menu{
	display: flex;
	align-items: center;
	justify-content: center;
}
.img{
	padding: 8px;
}
.item-menu{
	display: flex;
}
.item-menu a{
padding: 10px;
color: black;
}

.img-banner{
	position: relative;
	background: url("../img/banner.jpg")no-repeat center;
	background-size: cover;
	height: 562px;
	margin-bottom: 50px;
}
.banner-travel{
    position: absolute;
    margin: auto;
    bottom: 49px;
    left: 13%;
    width: 30%;
    font-size: 18px;
    transform: translate(-25%,0);
    text-align: center;
}
.text-banner{
	font-size: 20px;
	color: white;
	font-family: 'Rufina', serif;
}

/*main*/
.category {
	display: flex;
	justify-content: space-between;
}
.img-category{
	width: 30%;
	display: block;
}

.category img {
	max-width: 100%;
}
.img-parent {
	position: relative;
}
.caption{
	text-align: center;
	padding: 10px 0;
	background: rgba(230,230,230,0.7);
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black
}
.text-listTravel{
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
}
.travels{
	height: 564px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.travels img {
	max-width: 100%
}
.travel-left{
	width: 24%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.travel-left > *{
	height: 48%;
}
.travel-left_img,
.big-img,
.travel-center_flex > *,
.travel-right{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.travel-right{
	width: 24%;
}
.travel-center {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 48%;
}
.travel-center .big-img {
	height: 52%;
}
.travel-center_flex{
	display: flex;
	justify-content: space-between;
	height: 45%;
}
.travel-center_flex > * {
	width: 48%;
}
.fixed-bg {
	display: flex;
	align-items: center;
	justify-content: center;
  background-image: url("../img/banners.png");
  min-height: 230px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}
.info{
	/*background: url("../img/banners.png") no-repeat;*/
}
.info-banner{
	display: flex;
	justify-content: space-between;
}
.steps {
	display: flex;
	width: 23%
}
.info-borders {
	margin-right: 10px;
	width: 25%
}
.info-border{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	font-weight: bolder;
}
.color-info{
	color: orange;
	font-size: 20px;
	font-weight: bold;
}
.text-infos{
	color: white;
}
.info-details{
	margin-top: 100px;
}
.info-details_img{
	position: relative;
	background: url("../img/clb.png") no-repeat center;
	width: 50%;
	height: 350px;
}
.info-details_imgg{
	position: relative;
	background: url("../img/time.png") no-repeat center;
	width: 50%;
	height: 350px;
}
.info-details_imgs{
	position: relative;
	background: url("../img/tietkiem.png") no-repeat center;
	width: 50%;
	height: 350px;
}
.info-details-text{
	text-align: justify;
	align-items: center;
	display: flex;
    padding: 0 60px;
	width: 50%;
}
.info-details-zone{
	display: flex;
}
.info-details-center {
	flex-direction: row-reverse;
}
.form-signingup{
  background-image: url("../img/buocchan.png");
  min-height: 230px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 100px;
}
.form-signingup-zone{
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-signingup_Text{
		text-align: justify;
	align-items: center;
	display: flex;
}
.travel-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.5);
}
.travel-info > p, i, a {
	color: white;
}
.iteam{
	margin-left: 80px;
}
.iteam1{
	margin-left: 353px;
}
.info-details_text{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.5);
}
.info-details_text > p{
	color: white;
}
/*header*/

.text-header{
	
}
.booter{
	display: flex;
	justify-content: space-between;
	margin: 0;
	background: #C4C4C4;
	padding: 30px 40px;
}
.footer-zone{
	display: flex;
	justify-content: space-between;
}
.booter-zone{
	margin:auto;
}
.booter-zone a{
	margin: 10px;
	color: black;
}
.booter-zone img {
	margin-right: 17px;
}
.footer-item {
	width: 30%
}

/* media */

@media (min-width: 1200px) {
.container {
    max-width: 1170px!important
}
}