* {
    box-sizing: border-box;
}
h1{
	font-size: 60px;
	text-align: center;
	color:red;
}
a{
	font-size: 30px;
	font-family: arial;
	text-align: center;
	color:grey;
	margin: 10px 10px;
}

a:active{
	color:red;
}
img{
	max-width: 100%;
}
#main-menu{
	position: relative;
	background-color: #ffffff;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}

#main-menu > a:first-child {
	position: absolute;
	padding: 4px;
	background-color: #ffffff;
	border-radius: 50%;
    top: -162px;
    left: 71px;
}
#main-menu > a:first-child > img{
	max-width: 200px;
	border-radius: 50%;
}
#top {
	position: fixed;
	right: 10px;
	bottom:10px;
}
.sapa{
	max-width: 100%;
}
.wrap{
	max-width: 1800px;
	margin:auto;
}
.hang{
	padding: 5px;
	float: left;
	width: 33.33333%;
	border: 1px;
	border-top-width: 5px;
}
body{
	font-family: arial;
	color:red;
}
#menu ul {
	list-style-type: none;
	background:grey;
	text-align: center;
}
#menu ul li{
	color: grey;
	display: inline-table;
	width: 150px;
	height: 50px;
	line-height: 50px;
	position: relative;
}
#menu li{
	left:-20px;
}
#menu ul li a{
	color:white;
	text-decoration: none;
	display: block;
}
#menu ul li a:hover{
	background: white;
	color:#333;
}
#menu ul li > .sub-menu{
	display: none;
	position: absolute;
}
#menu ul li:hover .sub-menu{
	display: block;
}




body {
  font-family: sans-serif;
  font-size: 15px;
}
#menu2 ul {
  background: #8AD385;
  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
#menu2 li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 1em;
}
#menu2 li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
}
#menu2 li:hover {
  background: #CDE2CD;
}

/*==Dropdown Menu==*/
#menu2 ul li {
  position: relative;
}
#menu2 .sub-menu2 {
  position: absolute;
  left: 250px;
  top: 0;
  display: none;
}
#menu2 li:hover .sub-menu2 {
  display: block;
}