* {
    box-sizing: border-box;
}
h1{
	font-size: 60px;
	text-align: center;
	color:red;
}
a{
	font-size: 30px;
	font-family: arial;
	text-align: center;
	color:grey;
	margin: 10px 10px;
}

a:active{
	color:red;
}
#main-menu{
	position: relative;
	background-color: #ffffff;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}

#main-menu > a:first-child {
	position: absolute;
	padding: 4px;
	background-color: #ffffff;
	border-radius: 50%;
    top: -162px;
    left: 71px;
}
#main-menu > a:first-child > img{
	max-width: 200px;
	border-radius: 50%;
}
#top {
	position: fixed;
	right: 10px;
	bottom:10px;
}
.sapa{
	max-width: 100%;
}
.wrap{
	max-width: 1800px;
	margin:auto;
}

